@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  overflow-x: hidden;
}

/* iOS: impede zoom ao focar em input/textarea */
@supports (-webkit-touch-callout: none) {
  input, textarea, select {
    font-size: 16px;
  }
}

